name: .NET

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
       run: |
         cd SlnProdutos
         dotnet publish --no-restore -o ./out /p:Version=2.0.${{ github.run_number }}
    - name: Build
      run: dotnet publish --no-restore -o ./out /p:Version=2.0.${{ github.run_number }}
    - name: Pack
      run: dotnet pack --no-restore -o ./nupkgs /p:Version=2.0.${{ github.run_number }}  
    - name: Push nuget
      run: dotnet nuget push ./nupkgs/*.nupkg -k ${{ secrets.NUGET_API_KEY}} -s https://fiap22net.azurewebsites.net/nuget
